.body{
    background-color: black; 
    .grid{
        // max-height: ;
        display: grid;
        grid-template-rows:750px 1100px 500px 700px 500px 130px;
        .cont1{
            background-color: red;
            // img{
            //     display: flex;
            //     width: 100%;
            //     height: 500px;
            // }
            background-image: url('cover1.png');
            background-repeat: no-repeat;
            // width: 1100px;
            // height: 750px;
            background-size: 100% 750px;
            .nav{
                display: grid;
                grid-template-columns: 30% 40% 30%;
                h4{
                    text-align: left;
                    text-size-adjust: 32%;
                    padding-left: 10px;
                    font-family: Arial, Helvetica, sans-serif;
                    color: white;
                }
                ul{
                    display: inline-block;
                    
                    li{
                        display: inline;
                        a{
                            padding-left: 3px;
                            padding-right: 2px;
                            text-decoration: none;
                            color: wheat;
                                &:hover{
                                    color: darkgoldenrod;
                                }
                        }
                        
                    }
                }
                a{
                    text-decoration: none;
                    text-align: right;
                    padding: 15px 20px 10px 0px;
                    color: white;
                    &:hover{
                        color: darkorange;
                    }
                }
            }
            .sec1{
                .heading{
                    // text-size-adjust: 40;
                    padding-left: 40px;
                    padding-top: 70px;
                    font-size: 400%;
                    margin-bottom: 0%;
                    color: rgb(255, 102, 31);
                    text-decoration-style: solid;
                    text-shadow: blanchedalmond;
                    &:hover{
                        color: chocolate;
                    }
                }
                .des1{
                    font-size: 160%;
                    padding-left: 40px;
                    // padding-top: 0px;
                    // padding-bottom: 50px;
                    margin-top: 5px;
                    color:  rgb(248, 162, 3);
                    &:hover{
                        color: rgb(211, 90, 3);
                    }
                }
            }
            .contact{
                border: 2px solid rgb(255, 84, 4) ;
                border-radius: 30px;
                height: 50px;
                width: 350px;               
                margin-left: 130px;
                margin-top: 20px;
                font-family: inherit;
                color:  rgb(255, 84, 4);
                font-size: 20px;
                &:hover{
                    background-color: darkorange;
                    color: black;
                    font-size: 25px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                }
            }
        }
        .cont2{
            // background-color: blue;
            .who{
                text-align: center;
                font-size: 40px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: ivory;
                padding-top: 10px;
                margin-bottom: 9px;
            }
            .who1{
                text-align: center;
                color: wheat;
                margin-top: 0px;
                font-size: 18px;
            }
            .sec2{
                margin: 90px 20px 0px 20px;
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;
                .sec21{
                    text-align: center;
                    color: white;
                    .sec211{
                        font-size: 16px;
                        color: wheat;
                        padding-right: 20px;
                        padding-left: 20px;
                        text-align: left;
                    }
                    &:hover{
                        background-color: rgb(39, 38, 38);
                        border-radius: 15px;
                    }
                }
                .sec22{
                    text-align: center;
                    color: white;
                    .sec221{
                        font-size: 16px;
                        color: wheat;
                        padding-right: 20px;
                        padding-left: 20px;
                        text-align: left;
                    }
                    &:hover{
                        background-color: rgb(39, 38, 38);
                        border-radius: 15px;
                    }
                }
                .sec23{
                    text-align: center;
                    color: white;
                    .sec231{
                        font-size: 16px;
                        color: wheat;
                        padding-right: 20px;
                        padding-left: 20px;
                        text-align: left;
                    }
                    &:hover{
                        background-color: rgb(39, 38, 38);
                        border-radius: 15px;
                    }
                }
                .sec24{
                    text-align: center;
                    color: white;
                    .sec241{
                        font-size: 16px;
                        color: wheat;
                        padding-right: 20px;
                        padding-left: 20px;
                        text-align: left;
                    }
                    &:hover{
                        background-color: rgb(39, 38, 38);
                        border-radius: 15px;
                    }
                }               
            }

            .sec3{
                margin: 90px 20px 0px 20px;
                .serv{
                    text-align: center;
                    font-size: 40px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    color: ivory;
                    margin-bottom: 5px;
                    
                }
                .serv2{
                    color: wheat;
                    text-align: center;
                    margin-top: 0px;
                }
            }

            .sec4{
                margin: 50px 50px 0px 50px;
                display: grid;
                // grid-template-columns: repeat(3,auto);
                // grid-template-rows: repeat(2,auto);
                grid-template-columns:400px 400px 400px ;
                grid-template-rows: 150px 150px;
                
                .img1{
                    border: 1px solid yellow;
                    border-radius: 5px;
                    color: white;
                    background-image: url('2d art.jpg');
                    background-repeat: no-repeat;
                    background-size: 400px 150px;
                    padding: 8px 0px 0px 8px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    
                }
                .img2{
                    border: 1px solid yellow;
                    border-radius: 5px;
                    color: white;
                    background-image: url('3d art.jpg');
                    background-repeat: no-repeat;
                    background-size: 400px 150px;
                    padding: 8px 0px 0px 8px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                .img3{
                    border: 1px solid yellow;
                    border-radius: 5px;
                    color: white;
                    background-image: url('game dev.png');
                    background-repeat: no-repeat;
                    background-size: 400px 150px;
                    padding: 8px 0px 0px 8px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                .img4{
                    border: 1px solid yellow;
                    border-radius: 5px;
                    color: white;
                    background-image: url('cons.jpg');
                    background-repeat: no-repeat;
                    background-size: 400px 150px;
                    padding: 8px 0px 0px 8px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                .img5{
                    border: 1px solid yellow;
                    border-radius: 5px;
                    color: white;
                    background-image: url('animation.jpg');
                    background-repeat: no-repeat;
                    background-size: 400px 150px;
                    padding: 8px 0px 0px 8px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                .img6{
                    border: 1px solid yellow;
                    border-radius: 5px;
                    color: white;
                    background-image: url('e design.jpg');
                    background-repeat: no-repeat;
                    background-size: 400px 150px;
                    padding: 8px 0px 0px 8px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                                
                                
                        


            }
        }
        .cont3{
            // background-color: green;
            display: grid;
            grid-template-columns: 50% 50%;
            .sec5{
                margin: 0px 80px 40px 150px;
                .const{
                    margin-top: 100px;
                    color: ivory;
                    text-align:justify;
                    font-size: 40px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    margin-bottom: 9px;
                }
                .const1{
                    color: wheat;
                    margin-top: 0px;

                }
            }
            .sec6{
                display: grid;
                grid-template-rows: 50% 50%;
                .cost{
                    background-color: rgb(255, 189, 89);
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    margin: 0px 130px 0px 20px;
                    height: 180px;
                    padding: 50px 40px 0px 40px;
                    border-radius: 30px;
                    border-left: 2px solid red;
                    border-bottom: 2px solid red;

                }
                .cost1{
                    background-color: rgb(255, 189, 89);
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    margin: 0px 130px 0px 20px;
                    height: 150px;
                    padding: 50px 40px 0px 40px;
                    border-radius: 30px;
                    border-left: 2px solid red;
                    border-bottom: 2px solid red;
                }
               
            }
        }
        .cont4{
            background-color: black;
            margin: 0px 80px 0px 80px;
            .port{
                margin-top: 80px;
                color: ivory;
                text-align:center;
                font-size: 40px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin-bottom: 9px;
            }
            .portcont{
                color: wheat;
                text-align: center;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 19px;
                margin-top: 0px;
            }
            .gallary{
                margin-top: 10px;
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;
                grid-template-rows: 130px 130px 130px;
                .box1{
                    // border: 2px solid red;
                    margin: 10px 10px 10px 10px;
                    background-image: url('gal1.jpg');
                    background-repeat: no-repeat;
                    background-size: 350px 130px;
                }
                .box2{
                    // border: 2px solid red;
                    margin: 10px 10px 10px 10px;
                    background-image: url('gal2.jpg');
                    background-repeat: no-repeat;
                    background-size: 350px 130px;
                }
                .box3{
                    margin: 10px 10px 10px 10px;
                    background-image: url('gal3.jpg');
                    background-repeat: no-repeat;
                    background-size: 350px 130px;
                }
                .box4{
                    margin: 10px 10px 10px 10px;
                    background-image: url('gal4.jpg');
                    background-repeat: no-repeat;
                    background-size: 350px 130px;
                }
                .box5{
                    margin: 10px 10px 10px 10px;
                    background-image: url('gal5.jpg');
                    background-repeat: no-repeat;
                    background-size: 350px 130px;
                }
                .box6{
                    margin: 10px 10px 10px 10px;
                    background-image: url('gal6.jpg');
                    background-repeat: no-repeat;
                    background-size: 350px 130px;
                }
                .box7{
                    margin: 10px 10px 10px 10px;
                    background-image: url('gal7.jpg');
                    background-repeat: no-repeat;
                    background-size: 350px 130px;
                }
                .box8{
                    margin: 10px 10px 10px 10px;
                    background-image: url('gal8.jpg');
                    background-repeat: no-repeat;
                    background-size: 350px 130px;
                }
                .box9{
                    margin: 10px 10px 10px 10px;
                    background-image: url('gal9.jpg');
                    background-repeat: no-repeat;
                    background-size: 350px 130px;
                }
                .box10{
                    margin: 10px 10px 10px 10px;
                    background-image: url('gal10.jpg');
                    background-repeat: no-repeat;
                    background-size: 350px 130px;
                }
                .box11{
                    margin: 10px 10px 10px 10px;
                    background-image: url('gal11.jpg');
                    background-repeat: no-repeat;
                    background-size: 350px 130px;
                }
                .box12{
                    margin: 10px 10px 10px 10px;
                    background-image: url('gal12.jpg');
                    background-repeat: no-repeat;
                    background-size: 350px 130px;
                }
            }
        }
        .cont5{
            background-color: black;
            padding-bottom: 300px;
            margin-top: 0px;
            .touch{
                margin-top: 40px;
                color: ivory;
                text-align:center;
                font-size: 40px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin-bottom: 12px;
            }
            .req{
                display: grid;
                grid-template-columns: 50% 50%;
                .emoji{
                    font-size: 40px;
                    margin-left: 200px;
                    margin-top: 150px;
                    &:hover{
                        
                        font-size: 50px;
                        
                    }
                }
                .form{
                    margin: 0px 200px 0px 40px;
                    .abvform{
                        color: wheat;
                        text-align: justify;
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-size: 18px;
                        margin-top: 0px;
                        // margin-bottom: 10px;
                        padding-bottom: 10px;
                    }
                    form{
                        input{
                            border: none;
                            background-color: black;
                            border-bottom: 2px solid orangered;
                            width: 300px;
                            color: cornsilk;
                        }
                        .btn1{
                            border: 2px solid rgb(255, 84, 4) ;
                            border-radius: 30px;
                            height: 30px;
                            width: 200px;               
                            // margin-left: 130px;
                            // margin-top: 20px;
                            font-family: inherit;
                            color:  rgb(255, 84, 4);
                            // font-size: px;
                            &:hover{
                                background-color: yellow;
                                color: black;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
        .footer{
            background-color: rgb(185, 117, 14);
            display: grid;
            grid-template-columns: 15% 15% 15% 25% 30%;
            margin-left: 20px;
            margin-right: 20px;
            border-radius: 10px;
            .f1{
                text-align: center;
                padding-right: 50px;
                padding-left: 70px;
                p{
                    text-align: justify;
                }
                &:hover{
                    background-color: rgb(250, 250, 74);
                }
            }
            .f2{
                padding-right: 90px;
                padding-left: 20px;
                
                p{
                    text-align: justify;
                }
                &:hover{
                    background-color: rgb(250, 250, 74);
                }
            }
            .f3{
                text-align: center;
                &:hover{
                    background-color: rgb(250, 250, 74);
                }
            }
            .f4{
                text-align: center;
                p{
                    text-align: justify;
                    padding-left: 100px;
                }
                &:hover{
                    background-color: rgb(250, 250, 74);
                }
            }
            .f5{
                font-size: 40px;
                padding-top: 75px;
                padding-left: 110px;
                text-decoration: none;
                // color: crimson;
                &:hover{
                    background-color: rgb(250, 250, 74);
                    font-size: 45px;
                }
            }

        }
    }
}